/*body css*/
body{
  margin-left: 150px;
  margin-right: 150px;
  font-family: Arial, Helvetica, sans-serif;

  }
  /* first div*/
  
  .navbar img{
    width: 400px;
  }
  
  /* nav bar + partie dropdown*/
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
      display: inline;
    }
    
    li a {
      display: inline-block;
      color: #ababab;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    samp{
      color: #00b39b;
    }
    li a:hover  {
      color: #00b39b;
    }
    
    
  
    
   
  #testa{
      color: #00b39b;
  }
  
    /* display nav */
  
    .navbar{
      display: flex;
      justify-content: space-around;
    }
  
  
    /*passing to the sections*/
  
    /* first section*/
  
  .section1{
      margin-top: 50px;
 text-align: center;
  }
  .section1 h3{
    text-align: center;
    margin-left: 40px;
    color: #00b39b;
    font-size: 35px;
  }
  
    .section2{
      display: flex;
      justify-content: space-evenly;
    }
    .section2 p{
      margin: 60px 0;
      line-height: 1.7;
      font-weight: 400;
    }
  
  /*third section*/
  .section3{
   
    display: flex;
    justify-content: space-around;
   
  }

  .firstdiv{
    width: 250px;
    background: #00b39b;
    color: #fff;
    text-shadow: none;
    border-radius: 10px;
    height: 400px;
    padding: 2em 2em 0;
    transition: all .2s ease 0s;

  }


  .scddiv{
    background: #3d83df;
    color: #fff;
    text-shadow: none;
    border-radius: 10px;
    height: 400px;
    padding: 2em 2em 0;
    width: 250px;
  }
  
  .thirddiv{
    background: #1b2734;;
    color: #fff;
    text-shadow: none;
    border-radius: 10px;
    height: 400px;
    padding: 2em 2em 0;
    width: 250px;
  }
.section4 {
  display: inline-flex;
  margin:2.5rem auto 3.125rem;
  flex-direction: row;
}
.section4 h3 {
  color: #00b39b;
  float: left;
  width: 33%;
  font-size: 1.625em;
  margin: .25em 0 .35em;
  padding-right: 1em;
}
.section4 ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;
  list-style: none;
  width: 80%;
}

.section4 li {
  font-size: 60%;
  display: inline-block;
  margin-top: 0;
  padding: 5px 0 5px 5px;
  width: auto;
}
  

.section5 {
  background-color:#e5faf8 ;
  background-size: auto;
  color: #747474;
 display: flex;
 margin: 50px 0px 88px;
 padding: 100px;
display: flex;
justify-content: space-between;
  
}



.section5text h3 {

  color: #00b39b;
  display: block;
  margin-right: 20px;


  }

.section5text p {
  max-width: 415px;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.7142857143;
  margin: 1.6em 0;
}

.leader {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  height: 250px;
  text-align: center;
  padding: 15px;
  font-size: .8125em;
}

.number_patients {
  background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    margin: 20px;
}

.number_numberactive {

  margin-bottom: 50px;
}

.number {
  background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 45px;
    font-size: .8125em;
   margin-left: 20px;
}


.number_active {
  background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    margin: 20px;
    
}

.section6 {
  margin: 0 auto 4.1875rem;
  font-size: .875em;
  text-align: center;
}

.section6_img {

  display: flex;
  flex-wrap: wrap;

}



.section6 h3 {
  color: #00b39b;
  margin: 1em 0;
  font-family: Work Sans,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: -.3px;
  
}

.section6 p {
  margin: 1.6em 0;
  line-height: 1.7142857143;
}

.barcelona{
  margin:10px
}
.barcelona1 button{
  margin-left: 114px;
background-color: #3d83df;
border-radius:5px;
color: white;
padding: 10px;
}